.board {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    height: 100%;
    width: 100%;
    max-width: 1000px;

}

.diceButtons {
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.diceButtons button{
    width: 128px;
    height: 32px;
    margin: 10px 0px 10px 0px;
    
}

.diceBoard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.row {
    /* border: 2px solid black; */
    padding: 5px 0px 5px 0px;
    display: flex;
    flex-direction: row;
}

.dice {
    
    background: url(./dicePicLine.png) no-repeat 0 0;
    width: 64px;
    height: 64px;
    margin: 0;
}

.rolled {
    border: 4px solid gray;
    border-radius: 4px;
}

.kept {
    border: 4px solid gray;
    border-radius: 4px;
}

.scoreBoard {
    /* display: flex;
    flex-direction: column;
    justify-content: space-around; */
    font-family: 'chalktastic', sans-serif;
    margin-top: 10%;
    margin-bottom: 10%;
    height: 80%;
    width: 250px;
    color: white;
    border: 6px solid rgb(119, 23, 23);
    background-color: black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(24, 107, 24);

}

.scoreTrackerTable {
    width: 240px;
    margin: 5px;
}

.scoreTH, .scoreTD {
    border: 1px solid white;
}

.messageBox h4{
    /* height: 64px; */
    margin: 0.5 em;
    /* color: white; */
}


