.Header {
  background-color: rgb(39, 145, 39);
  justify-items: center;
  height: 15vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  font-size: calc(10px + 2vmin);
  color: white;
}

.menuButton {
  height: 40px;
  width: 40px;
  color: white;
  background-color: white;
}

h1 {
  font-family: 'chalktastic', sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 6px solid brown;
  border-radius: 10px;
  background-color: black;
  color: white;
  text-align: center;
  width: 220px;
}

.topNav {
  width: 100%;
  display: none;
  position: absolute;
  
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navButton {
  color: black;
  margin: 5px;
  /* text-decoration: none; */
  
}

.navButton:hover {
  color: red;
  border: 2px solid green;
}

.navButtonLink {
  color: black;
  text-decoration: none;
}

.playButtons {
  display: none;
  text-align: right;
}

.rulesTable {
  border-collapse: collapse;
  width: 300px;
}

td, th {
  
  border: 1px solid black;
  padding: 4px;
}

@media (min-width: 600px) {
  .topNav {
    width: 400px;
    background-color: lightgray;
  }
}

@font-face {
  font-family: 'chalktastic';
		src: 
		local('Chalktastic'),
		url('/components/fonts/Chalktastic-r78L.ttf') 
    format('truetype');
}
@font-face {
	font-family: 'chalktastic';
		src: 
		local('Chalktastic'),
		url('/components/fonts/ChalktasticItalic-pEwZ.ttf') 
    format('truetype');
    font-weight: bold;
}